<h1>Why is it important for me to take over the world?</h1>
<ul>
  <li>The lack of free chocolate and coffee</li>
  <li>The fact that I don't have a grumble of pugs</li>
  <li>The fact that other people own more pugs than I do</li>
  <li>That Bev's awesome physique is out of my league</li>
  <li>That Rachel exists still #mole</li>
  <li>That they are yet to ask me and Chelsea to appear in Pumping Iron 3</li>
  <img src='http://1.bp.blogspot.com/_xORg3JKr7v4/SMwLI-iTMjI/AAAAAAAAAlQ/RB3NJ7jmDjI/s320/BevFrancis2.jpg'>
</ul>
